# Master Study File Creation
This notebook imports and concatenates measurement data files. It then Joins measurement data with a run matrix and outputs a "Master Study File" as a. *.csv. It creates summaries by RunID and the sampling, Position variable
</br></br>
J.D. Landgrebe updated October 25, 2023</div>

### Open the files and set variable lists

In [1]:
import pandas as pd
lst_Meas_dfs = [pd.read_csv('ELN_19_AB1234 Measurements_pH and Viscosity.csv'),
                pd.read_csv('ELN_19_AB1234 Measurements_Activity.csv')]
df_RunMatrix = pd.read_csv('ELN_19_AB1234 Run Matrix.csv')

#Construct useful lists for later use
lstAllIDs = ['RunID','SampleID','Position','Replicate']
lstMeasVar, lstRunVar = [], []
for df in lst_Meas_dfs: 
    for var in df.columns:
        if var not in lstAllIDs: lstMeasVar.append(var)
            
for var in df_RunMatrix.columns:
    if not var in lstAllIDs: lstRunVar.append(var)

In [2]:
df_RunMatrix

             RunID Date Made  Activity_Tgt  BatchID Operator
0  ELN_19_AB1234-1  2/1/2020         24.50  XM-2456       OG
1  ELN_19_AB1234-2  2/5/2020         25.75  XM-2633       AB

In [3]:
for df in lst_Meas_dfs:
    print(df.info(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   RunID      18 non-null     object
 1   SampleID   18 non-null     object
 2   Position   18 non-null     object
 3   Replicate  18 non-null     int64
 4   Viscosity  18 non-null     int64
 5   pH         18 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 992.0+ bytes
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RunID     20 non-null     object
 1   SampleID  20 non-null     int64
 2   Activity  20 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 608.0+ bytes
None

### Concatenate Measurements and Join with the Run Matrix
Index by Keys + Sample Variables. This creates a unique set of index values for each data row

In [4]:
#Concatenate measurement df's
df_Measurements = pd.concat(lst_Meas_dfs,sort=False)
df_Measurements

              RunID  SampleID Position  Replicate  Viscosity   pH  Activity
0   ELN_19_AB1234-1   Begin_1    Begin        1.0     1031.0  5.6       NaN
1   ELN_19_AB1234-1   Begin_2    Begin        2.0     1026.0  5.9       NaN
2   ELN_19_AB1234-1   Begin_3    Begin        3.0     1010.0  5.6       NaN
3   ELN_19_AB1234-1  Middle_1   Middle        1.0     1001.0  5.6       NaN
4   ELN_19_AB1234-1  Middle_2   Middle        2.0      991.0  5.6       NaN
5   ELN_19_AB1234-1  Middle_3   Middle        3.0     1022.0  5.7       NaN
6   ELN_19_AB1234-1     End_1      End        1.0     1008.0  5.6       NaN
7   ELN_19_AB1234-1     End_2      End        2.0      985.0  5.7       NaN
8   ELN_19_AB1234-1     End_3      End        3.0      982.0  5.5       NaN
9   ELN_19_AB1234-2   Begin_1    Begin        1.0     1214.0  6.7       NaN
10  ELN_19_AB1234-2   Begin_2    Begin        2.0     1232.0  6.5       NaN
11  ELN_19_AB1234-2   Begin_3    Begin        3.0     1223.0  6.5       NaN
12  ELN_19_AB1234-2  Middle_1   Middle        1.0     1189.0  6.5       NaN
13  ELN_19_AB1234-2  Middle_2   Middle        2.0     1204.0  6.3       NaN
14  ELN_19_AB1234-2  Middle_3   Middle        3.0     1202.0  6.5       NaN
15  ELN_19_AB1234-2     End_1      End        1.0     1189.0  6.6       NaN
16  ELN_19_AB1234-2     End_2      End        2.0     1182.0  6.6       NaN
17  ELN_19_AB1234-2     End_3      End        3.0     1194.0  6.5       NaN
0   ELN_19_AB1234-1         1      NaN        NaN        NaN  NaN      25.0
1   ELN_19_AB1234-1         2      NaN        NaN        NaN  NaN      24.4
2   ELN_19_AB1234-1         3      NaN        NaN        NaN  NaN      24.7
3   ELN_19_AB1234-1         4      NaN        NaN        NaN  NaN      24.7
4   ELN_19_AB1234-1         5      NaN        NaN        NaN  NaN      24.1
5   ELN_19_AB1234-1         6      NaN        NaN        NaN  NaN      24.8
6   ELN_19_AB1234-1         7      NaN        NaN        NaN  NaN      24.4
7   ELN_19_AB1234-1         8      NaN        NaN        NaN  NaN      24.3
8   ELN_19_AB1234-1         9      NaN        NaN        NaN  NaN      24.5
9   ELN_19_AB1234-1        10      NaN        NaN        NaN  NaN      25.1
10  ELN_19_AB1234-2         1      NaN        NaN        NaN  NaN      25.6
11  ELN_19_AB1234-2         2      NaN        NaN        NaN  NaN      24.8
12  ELN_19_AB1234-2         3      NaN        NaN        NaN  NaN      25.8
13  ELN_19_AB1234-2         4      NaN        NaN        NaN  NaN      26.0
14  ELN_19_AB1234-2         5      NaN        NaN        NaN  NaN      26.1
15  ELN_19_AB1234-2         6      NaN        NaN        NaN  NaN      25.9
16  ELN_19_AB1234-2         7      NaN        NaN        NaN  NaN      25.5
17  ELN_19_AB1234-2         8      NaN        NaN        NaN  NaN      25.6
18  ELN_19_AB1234-2         9      NaN        NaN        NaN  NaN      25.2
19  ELN_19_AB1234-2        10      NaN        NaN        NaN  NaN      26.0

In [13]:
#Merge the Run Matrix with the measurements table
df_MasterStudyFile = df_RunMatrix.merge(df_Measurements ,left_on='RunID',right_on='RunID')

#Set DataFrame index
df_MasterStudyFile.set_index(lstAllIDs,inplace=True)

#As a nicety, set Replicate column's type to nullable integer so it doesn't print as "1.0, 2.0 etc."
df_MasterStudyFile.index = df_MasterStudyFile.index.set_levels(df_MasterStudyFile.index.levels[3].astype(pd.Int64Dtype()), level=3)

df_MasterStudyFile

                                            Date Made  Activity_Tgt  BatchID  \
RunID           SampleID Position Replicate
ELN_19_AB1234-1 Begin_1  Begin    1          2/1/2020         24.50  XM-2456
                Begin_2  Begin    2          2/1/2020         24.50  XM-2456
                Begin_3  Begin    3          2/1/2020         24.50  XM-2456
                Middle_1 Middle   1          2/1/2020         24.50  XM-2456
                Middle_2 Middle   2          2/1/2020         24.50  XM-2456
                Middle_3 Middle   3          2/1/2020         24.50  XM-2456
                End_1    End      1          2/1/2020         24.50  XM-2456
                End_2    End      2          2/1/2020         24.50  XM-2456
                End_3    End      3          2/1/2020         24.50  XM-2456
                1        NaN      NaN        2/1/2020         24.50  XM-2456
                2        NaN      NaN        2/1/2020         24.50  XM-2456
                3        NaN      NaN        2/1/2020         24.50  XM-2456
                4        NaN      NaN        2/1/2020         24.50  XM-2456
                5        NaN      NaN        2/1/2020         24.50  XM-2456
                6        NaN      NaN        2/1/2020         24.50  XM-2456
                7        NaN      NaN        2/1/2020         24.50  XM-2456
                8        NaN      NaN        2/1/2020         24.50  XM-2456
                9        NaN      NaN        2/1/2020         24.50  XM-2456
                10       NaN      NaN        2/1/2020         24.50  XM-2456
ELN_19_AB1234-2 Begin_1  Begin    1          2/5/2020         25.75  XM-2633
                Begin_2  Begin    2          2/5/2020         25.75  XM-2633
                Begin_3  Begin    3          2/5/2020         25.75  XM-2633
                Middle_1 Middle   1          2/5/2020         25.75  XM-2633
                Middle_2 Middle   2          2/5/2020         25.75  XM-2633
                Middle_3 Middle   3          2/5/2020         25.75  XM-2633
                End_1    End      1          2/5/2020         25.75  XM-2633
                End_2    End      2          2/5/2020         25.75  XM-2633
                End_3    End      3          2/5/2020         25.75  XM-2633
                1        NaN      NaN        2/5/2020         25.75  XM-2633
                2        NaN      NaN        2/5/2020         25.75  XM-2633
                3        NaN      NaN        2/5/2020         25.75  XM-2633
                4        NaN      NaN        2/5/2020         25.75  XM-2633
                5        NaN      NaN        2/5/2020         25.75  XM-2633
                6        NaN      NaN        2/5/2020         25.75  XM-2633
                7        NaN      NaN        2/5/2020         25.75  XM-2633
                8        NaN      NaN        2/5/2020         25.75  XM-2633
                9        NaN      NaN        2/5/2020         25.75  XM-2633
                10       NaN      NaN        2/5/2020         25.75  XM-2633

                                            Operator  Viscosity   pH  Activity
RunID           SampleID Position Replicate
ELN_19_AB1234-1 Begin_1  Begin    1               OG     1031.0  5.6       NaN
                Begin_2  Begin    2               OG     1026.0  5.9       NaN
                Begin_3  Begin    3               OG     1010.0  5.6       NaN
                Middle_1 Middle   1               OG     1001.0  5.6       NaN
                Middle_2 Middle   2               OG      991.0  5.6       NaN
                Middle_3 Middle   3               OG     1022.0  5.7       NaN
                End_1    End      1               OG     1008.0  5.6       NaN
                End_2    End      2               OG      985.0  5.7       NaN
                End_3    End      3               OG      982.0  5.5       NaN
                1        NaN      NaN             OG        NaN  NaN      25.0
                2        NaN      NaN             OG        NaN  NaN      24.4
                3        NaN      NaN             OG        NaN  NaN      24.7
                4        NaN      NaN             OG        NaN  NaN      24.7
                5        NaN      NaN             OG        NaN  NaN      24.1
                6        NaN      NaN             OG        NaN  NaN      24.8
                7        NaN      NaN             OG        NaN  NaN      24.4
                8        NaN      NaN             OG        NaN  NaN      24.3
                9        NaN      NaN             OG        NaN  NaN      24.5
                10       NaN      NaN             OG        NaN  NaN      25.1
ELN_19_AB1234-2 Begin_1  Begin    1               AB     1214.0  6.7       NaN
                Begin_2  Begin    2               AB     1232.0  6.5       NaN
                Begin_3  Begin    3               AB     1223.0  6.5       NaN
                Middle_1 Middle   1               AB     1189.0  6.5       NaN
                Middle_2 Middle   2               AB     1204.0  6.3       NaN
                Middle_3 Middle   3               AB     1202.0  6.5       NaN
                End_1    End      1               AB     1189.0  6.6       NaN
                End_2    End      2               AB     1182.0  6.6       NaN
                End_3    End      3               AB     1194.0  6.5       NaN
                1        NaN      NaN             AB        NaN  NaN      25.6
                2        NaN      NaN             AB        NaN  NaN      24.8
                3        NaN      NaN             AB        NaN  NaN      25.8
                4        NaN      NaN             AB        NaN  NaN      26.0
                5        NaN      NaN             AB        NaN  NaN      26.1
                6        NaN      NaN             AB        NaN  NaN      25.9
                7        NaN      NaN             AB        NaN  NaN      25.5
                8        NaN      NaN             AB        NaN  NaN      25.6
                9        NaN      NaN             AB        NaN  NaN      25.2
                10       NaN      NaN             AB        NaN  NaN      26.0

### Write the file to a CSV for Graphing and Statistical Analysis

In [14]:
df_MasterStudyFile.to_csv('ELN_19_AB1234 MSF.csv')

### Create Summaries by RunID and RunID + Position
We want an overall summary by RunID and a by-position summary of viscosity and pH. Because the activity rows do not have populated Position values, it works to just do a summary of all rows by RunID and Position. This will leave out the Activity data, which were not sampled by Position

In [7]:
lstSummariesToMake = [['RunID'],['RunID','Position']]

In [8]:
#Make an overall summary and a summary with just viscosity and pH ([:2])
Summaries = []
lstSummbyMeasNames = [lstMeasVar,lstMeasVar[:2]]

for i, summby in enumerate(lstSummariesToMake):
    
    #Create Measurement summary
    grp = df_Measurements.set_index(lstAllIDs).groupby(summby)
    Summaries.append(grp.mean())
    
    #Summaries[i] is the newly-appended summary DataFrame
    Summaries[-1]['nRows'] = grp.size()
    Summaries[-1].reset_index(inplace=True,drop=False)
    
    #Merge in Run Matrix columns'
    Summaries[-1] = Summaries[-1].merge(df_RunMatrix, left_on='RunID', right_on='RunID')
    Summaries[-1].set_index(summby, inplace=True)
    Summaries[-1] = Summaries[-1][lstRunVar + ['nRows'] + lstSummbyMeasNames[i]]

    #Set decimals
    Summaries[-1]['Viscosity'] = Summaries[-1]['Viscosity'].round(1)
    Summaries[-1]['pH'] = Summaries[-1]['pH'].round(3)
    if 'Activity' in Summaries[-1].columns:
        Summaries[-1]['Activity'] = Summaries[-1]['Activity'].round(1)

In [9]:
#First summary is by RunID for all measurement variables
Summaries[0]

,Date Made,Activity_Tgt,BatchID,Operator,nRows,Viscosity,pH,Activity
RunID,,,,,,,,
ELN_19_AB1234-1,2/1/2020,24.50,XM-2456,OG,19,1006.2,5.644,24.6
ELN_19_AB1234-2,2/5/2020,25.75,XM-2633,AB,19,1203.2,6.522,25.6

In [10]:
#Second summary is by RunID and Position
Summaries[1]

                         Date Made  Activity_Tgt  BatchID Operator  nRows  \
RunID           Position
ELN_19_AB1234-1 Begin     2/1/2020         24.50  XM-2456       OG      3
                End       2/1/2020         24.50  XM-2456       OG      3
                Middle    2/1/2020         24.50  XM-2456       OG      3
ELN_19_AB1234-2 Begin     2/5/2020         25.75  XM-2633       AB      3
                End       2/5/2020         25.75  XM-2633       AB      3
                Middle    2/5/2020         25.75  XM-2633       AB      3

                          Viscosity     pH
RunID           Position
ELN_19_AB1234-1 Begin        1022.3  5.700
                End           991.7  5.600
                Middle       1004.7  5.633
ELN_19_AB1234-2 Begin        1223.0  6.567
                End          1188.3  6.567
                Middle       1198.3  6.433

## Demonstrate Pandas Feature for Value Ordering
As a nicety, Position can have a custom, non-alphabetical order matching the chronological sampling order

In [11]:
Position_order = ['Begin', 'Middle', 'End']

#The pd.Categorical statement defines value ordering
idx_RunID = list(Summaries[1].index.get_level_values('RunID'))
idx_Position = pd.Categorical(Summaries[1].index.get_level_values('Position'), categories=Position_order, ordered=True)

print(idx_RunID, '\n\n', idx_Position, '\n')

#Reassign and sort the index using the categorical Position index
Summaries[1].index = pd.MultiIndex.from_arrays([idx_RunID, idx_Position])
Summaries[1].sort_index(inplace=True)
Summaries[1]

['ELN_19_AB1234-1', 'ELN_19_AB1234-1', 'ELN_19_AB1234-1', 'ELN_19_AB1234-2', 'ELN_19_AB1234-2', 'ELN_19_AB1234-2']

 ['Begin', 'End', 'Middle', 'Begin', 'End', 'Middle']
Categories (3, object): ['Begin' < 'Middle' < 'End']

                       Date Made  Activity_Tgt  BatchID Operator  nRows  \
ELN_19_AB1234-1 Begin   2/1/2020         24.50  XM-2456       OG      3
                Middle  2/1/2020         24.50  XM-2456       OG      3
                End     2/1/2020         24.50  XM-2456       OG      3
ELN_19_AB1234-2 Begin   2/5/2020         25.75  XM-2633       AB      3
                Middle  2/5/2020         25.75  XM-2633       AB      3
                End     2/5/2020         25.75  XM-2633       AB      3

                        Viscosity     pH
ELN_19_AB1234-1 Begin      1022.3  5.700
                Middle     1004.7  5.633
                End         991.7  5.600
ELN_19_AB1234-2 Begin      1223.0  6.567
                Middle     1198.3  6.433
                End        1188.3  6.567